:root{
    --Pale-blue: hsl(225, 100%, 94%);
    --Bright-blue: hsl(245, 75%, 52%);
    --Very-pale-blue: hsl(225, 100%, 98%);
    --Desaturated-blue: hsl(224, 23%, 55%);
    --Dark-blue: hsl(223, 47%, 23%);
}
body{
    font-family: 'Red Hat Display', sans-serif;
    font-size: 16px;
    background-color:var(--Pale-blue);
    width: 100vw;
    height: 100vh;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}
.card{
    width: 375px;
   /*  height: 545px; */
    background-color: var(--Very-pale-blue);
    border-radius: 20px;
    margin-bottom: -10px;
}
.card div{
    margin: 30px 25px;
}
.card__header{
    display: block;
    width: 100%;
    border-radius: 20px 20px 0 0;
}
.card__description{ 
    padding: 0 10px;
    text-align: center;
}
.description__title{
    font-weight: 900;
}
.description__text{
    font-weight: 500;
    line-height: 1.5;
    color: var(--Desaturated-blue);
    letter-spacing: 0.5px;
}
.card__plan{
    display: flex;
    justify-content: center ;
    align-items: center;
    width: 325px;
    height: auto;
    background-color: hsla(225, 100%, 94%,0.3);  
    border-radius: 10px;
    padding:  0 20px;
}
.plan__icon-music{
    border-radius: 50%;
    width: 45px;
    height: 45px;
}
.card__plan div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
}
.plan__title, .plan__price, .plan__change{
    font-size: 14px;
}
.plan__title{
    margin: 15px 10px 5px;
    font-weight: 700;
    letter-spacing: 0.4px;
}
.plan__price{
    margin: 0 15px 15px;
    color: var(--Desaturated-blue);
    font-weight: 700;
}
.plan__change{
    display: block;
    color: var(--Bright-blue);
    font-weight: bold;
    margin-left: 50px;
}
.plan__change:hover{
    opacity: .7;
    text-decoration: none;
}
.card__btn{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 325px;
}
.btn__proceed{
    text-decoration: none;
    width: 100%;
    background-color: var(--Bright-blue);
    padding: 20px;
    text-align:center;
    color: var(--Very-pale-blue);
    border-radius: 10px;
    margin-bottom: 30px;
    font-weight: 900;
    letter-spacing: 0.5px;
    box-shadow: 0px 5px 20px var(--Desaturated-blue);
}
.btn__proceed:hover{
    opacity: .7;
}
.btn__cancel{
    text-decoration: none;
    font-weight: 900;
    color: var(--Desaturated-blue);
}
.btn__cancel:hover{
    color: var(--Dark-blue);
}

@media screen and (min-width:768px){
    body{
        background-image: url(../images/pattern-background-desktop.svg);
        background-repeat: no-repeat;
        background-size: contain;
        font-size: 20px;
    } 
    .card{
        min-width: 375px;
        width: 30%;
    }
    .card__plan, .card__btn {
        width: 86%;
        height: auto;
    } 
    .plan__change{
        margin-left: auto;
    }
    .plan__title, .plan__price, .plan__change{
        font-size: 17px;
    }
    .card__plan div{
        text-align: center;
    }
    .btn__proceed, .btn__cancel{
        word-spacing: 5px;
    }
}
@media screen and (min-width:1440px){
    body{font-size: 32px}
    .card{
        min-width: 375px;
        width: 40%;
    }
    .card div{
        margin: 40px 35px;
    }
    .card__plan, .card__btn {
        width: 86%;
        height: auto;
    }
    .plan__change{
        margin-left: auto;
    }
    .plan__title, .plan__price, .plan__change{
        font-size: 24px;
    }
    .card__plan div{
        margin-left: 15%;
    }
    .btn__proceed, .btn__cancel{
        word-spacing: 10px;
    }
    .plan__icon-music{
        margin-left: 10%;
        width: 10%;
        height: 10%;
    }
}
